  <!--FOOTER-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h7> MAIN </h7>
        </div>
        <div class="footer-col">
          <h7> ABOUT</h7>
        </div>
        <div class="footer-col">
          <h7>GAME FEATURES</h7>
        </div>
        <div class="footer-col">
          <h7> SYSTEM REQUIREMENTS</h7>
        </div>
        <div class="footer-col">
          <h7> QUOTES </h7>
        </div>
        <div class="footer-img">
          <img src="assets/facebook.svg" alt="facebook icon">
        </div>
        <div class="footer-img">
          <img src="assets/twitter.svg" alt="twitter icon">
        </div>
        <div class="footer-img">
          <img src="assets/vector.svg" alt="youtube icon">

        </div>
        <div class="footer-img">
          <img src="assets/twitch.svg" alt="twitch icon">
        </div>
      </div>
    </div>

    <hr>
    <p class="copyright"> © 2023 Your Games, Inc. All Rights Reserved</p>

  </footer>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

</body>

</html>