<%- include("header") -%>
  <section id="title">

    <!-- NAV SECTION-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#title">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="#title">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#games">WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#news">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#features">FEATURES</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link text-white" href="/login">LOGIN</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--NAV END-->
    <!--MAIN BACKGROUND-->
    <div id="intro" class="banner-image vh-100 d-flex justify-content-center align-items-center">
      <div class="container-fluid">
        <div class="content text-center">
          <h1 class="text-white display-4 fw-bold">PLAY TRADITIONAL GAME</h1>
          <h2 class="text-white fs-3 fw-bold">Experience new traditional game play</h2>
          <a href="/game" class="playnow-button">
            <h3 class="text-black fs-6 fw-bold">PLAY NOW</h3>
          </a>
          <h4 class="thestory"> THE STORY</h4>
          <div class="arrow">
            <img src="assets/scroll-down.svg">
          </div>
        </div>
      </div>
    </div>
  </section>
  
    <section id="games" class=" container-fluid">
      <div class="container">
        <div class="row gamestext">
          <div class="col-lg-4 gamestext2 ms-5-lg">
            <h3 class="text-white fw-bold">what's So Special?</h3>
            <h1 class="text-white fw-bold">THE GAMES</h1>
          </div>
          <div class="col-lg-7 slide">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                  aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                  aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
    <section id="features" class="container-fluid">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-5 featurestext">
            <h4>What's so special?</h4>
            <h1>FEATURES</h1>
  
            <div class="step completed">
              <div class="v-stepper">
                <div class="circle"></div>
                <div class="line"></div>
              </div>
              <div class="featurescontent">
                <h2>Traditional games</h2>
                <p> If you miss your childhood, we provide
                  many traditional game here </p>
              </div>
            </div>
            <div class="step active">
              <div class="v-stepper">
                <div class="circle"></div>
              </div>
              <div class="featurescontent">
                <h2>Game suit</h2>
              </div>
            </div>
  
            <div class="step active">
              <div class="v-stepper">
                <div class="circle"></div>
              </div>
              <div class="featurescontent">
                <h2>TBD</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!--SYSTEM REQUIREMENTS-->
    <section id="systems" class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center text1">
            <p>Can My Computer Run this game?</p>
          </div>
        </div>
        <div class="row">
          <div class="col-1 text2">
            <h1>system requirements</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <h2>OS:</h2>
                    <p>
                      Windows 7 64-bit only (No OSX support at this time)
                    </p>
                  </td>
                  <td>
                    <h2>Processor:</h2>
                    <p>Intel Core 2 Duo @2.4GHz or AMD Athlon X2 @ 2.8GHz</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>Memory:</h2>
                    <p>4 GB RAM</p>
                  </td>
                  <td>
                    <h2>Storage:</h2>
                    <p>8 GB available space</p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <h2>Graphics:</h2>
                    <p>
                      NVIDIA GeForce GTX 660 2GB or<br/> AMD Radeon HD 7850 2GB
                      DirectX11 (Shader Model S)
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
  
    </section>
  <!-- TOP SCORES -->
    <section id="scores" class="container-fluid">
     <div class= "container"> 
      <div class="row">
        <div class="col textscores">
          <h1>top scores</h1>
          <p>This top score from various games provides on this problem</p>
          <button class="button-more">see more</button>
        </div>
        <div class="col card-data">
          <div class=" row row-cols-1 row-cols-md-2 g-2 d-flex flex-column align-items-center cardpos">
            <div class="col">  
            <div class="card insidecard">
                <div class="card-body">
                  <img class="picture" src="/assets/evan-lahti.jpg" alt="evan-lahti">
                  <div class="name">
                    <p class="person">Evan Lahti</p>
                    <p class="job">PC Gamer</p>
                  </div>
                  <div class="clear"></div>
                  <img src="/assets/twitter.svg" alt="twitter" class="twitter-logo">
                  <p class="card-text">"One of my gaming highlights of the year".</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">June 18, 2021</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card insidecard card2">
                <div class="card-body">
                  <img class="picture" src="/assets/jada-griffin.jpg" alt="Jada Griffin">
                  <div class="name">
                    <p class="person">Jada Griffin</p>
                    <p class="job">Nerdreactor</p>
                  </div>
                  <div class="clear"></div>
                  <img src="/assets/twitter.svg" alt="twitter" class="twitter-logo">
                  <p class="card-text">"The next big thing in the world of streaming and survival games".</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">July 10, 2021</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card insidecard ">
                <div class="card-body">
                  <img class="picture" src="/assets/aaron-williams.jpg" alt="Aarons Williams">
                  <div class="name">
                    <p class="person">Aarons Williams</p>
                    <p class="job">Uproxx</p>
                  </div>
                  <div class="clear"></div>
                  <img src="/assets/twitter.svg" alt="twitter" class="twitter-logo">
                  <p class="card-text">"Snoop Dogg Playing the Wildly Entertaining 'SOS' is Ridiculous".</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">December 24, 2018</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    </section>
  
  <!--NEWSLETTER-->
  
  <section id = "news" class="newsletter">
      <div class="container container-subs">
        <div class="row d-flex align-items-center">
          <div class="col skullimg">
            <img src="/assets/skull.png" alt="">
          </div>
          <div class="col textnews">
            <h3>Want to stay in touch?</h3>
            <h1>NEWSLETTER SUBSCRIBE</h1>
            <p>in order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam.</p>
            <form action="#" class="d-flex justify-content-between form">
              <label for="email">Your email address</label>
              <input type="email" placeholder="youremail@binar.co.id" id="email">
              <button class="btn btn-warning">Subscribe now</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include("footer") -%>

